---
Checks:
  bugprone-*,
  -bugprone-sizeof-container,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto
WarningsAsErrors: ''
FormatStyle:     file
ExtraArgs:       ['-std=c++20']
CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:           '1'
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '1'
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           'UPPER_CASE'
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.VariableCase
    value:           'lower_case'
...
